# dependencies
node_modules/
package-lock.json

# builds
dist/
.vite/
.temp/
*.zip

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# environment
.env
.env.local
.env.*.local
